@model Teacher
@{
    ViewData["Title"] = "Detail";
}


<div class="card" style="width: 18rem;">

    <img src="~/img/teacher/@Model.ImageUrl" width="100" height="100" />

    <div class="card-body">
        <h5 class="card-title">@Model.FullName</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Description: @Model.Description</li>
        <li class="list-group-item">Faculty: @Model.Faculty</li>
        <li class="list-group-item">Degree: @Model.Degree</li>
        <li class="list-group-item">Exprience: @Model.Exprience</li>
        <li class="list-group-item">Email : @Model.Email</li>
        <li class="list-group-item">PhoneNumber: @Model.PhoneNumber</li>
        <li class="list-group-item">Skype : @Model.Skype</li>



    </ul>
</div>





