@model List<Event>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
      
            
        @foreach (var even in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-controller="event" asp-action="detail" asp-route-id="@even.Id">
                                <img src="img/event/@even.ImageUrl" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>20 <span>jun</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-controller="event" asp-action="detail" asp-route-id="@even.Id">@even.Name</a></h4>
                            <ul>
                                <li><span>time:</span> 9.00  - 4.45 PM</li>
                                <li><span>venue</span> @even.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail" asp-route-id="@even.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        
        </div>
    </div>
</div>
<!-- Event End -->

